.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand= image_tag('wingman-white.png')
          %ul.nav.masthead-nav
            %li.active
              %a{href: "#"} Home
            %li
              %a{href: "#features"} Features
            %li
              %a{href: "#"} Contact
      .inner.cover
        %h1.cover-heading Drink Better, Together.
        %p.lead Simultaneously discover the hottest places to be based on your preferences, while connecting with friends tonight.
        %p.lead
          %a.btn.btn-lg.btn-default{href: "#features"} Learn more
.background
  #features.container.marketing
    / Main component for a primary marketing message or call to action
    / Three columns of text below the carousel
    .row
      .col-lg-4
        %img.img-circle{alt: "Generic placeholder image", "src" => asset_url('wingman-white.png')}/
        %h2 Local
        %p WingMan lets you discover new bars / taverns / clubs that are near you, so you can have fun without dropping too much for a cab.
      / /.col-lg-4
      .col-lg-4
        %img.img-circle{alt: "Generic placeholder image", "src" => asset_url('wingman-white.png')}/
        %h2 Mobile
        %p Through the app, WingMan gives insight into a location's status including service times, busyness, and overall vibe.
      / /.col-lg-4
      .col-lg-4
        %img.img-circle{alt: "Generic placeholder image", "src" => asset_url('wingman-white.png')}/
        %h2 Social
        %p Going out wouldn't be fun without friends, right? WingMan shows you where your closest friends are going that night.
      / /.col-lg-4
    / /.row

.container.quick-slogan
  .row
    .col-lg-12
      %h1.cover-heading The perfect night, every night.

    / START THE FEATURETTES
.background
  #features.container.marketing
    .row.featurette
      .col-md-7.featurette-text
        %h2.featurette-heading
          Every Bar.
          %span.text-muted On your phone.
        %p.lead We've all struggled to find the perfect place to drink with our friends. WingMan takes the hassle out of finding those places by using your location, social media connectivity, and crowdsourcing to match you with the perfect venue. Imagine knowing how busy bars are in your area, and what friends of yours are there. 
      .col-md-5
        %img.featurette-image.img-responsive{alt: "Generic placeholder image", "src" => asset_url('iphonelogin.png')}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-5
        %img.featurette-image.img-responsive{alt: "Generic placeholder image", "src" => asset_url('iphonelogin.png')}/
      .col-md-7.featurette-text
        %h2.featurette-heading
          Enjoy the Night.
          %span.text-muted With friends.
        %p.lead Spend less time deciding what bar to go to and more time enjoying the moment with your friends. WingMan shows you where your closest friends are going. Get a group together and we might even buy the first round.
    / /END THE FEATURETTES
    / = form_for(:user, :url => registration_path(:user)) do |f|
    /   .form-horizontal
    /     .form-group
    /       .col-sm-4.control-label= f.label :email
    /       .col-sm-8= f.email_field :email, :class => "form-control"
    /     .form-group
    /       .col-sm-4.control-label= f.label :password
    /       .col-sm-8= f.password_field :password, autocomplete: "off", :class => "form-control"
    /     .form-group
    /       .col-sm-offset-4.col-sm-8
    /         = f.submit "Sign In", class: "formButton btn btn-default"