!!!
%html
  %head
    %title WingMan - The night is in your hands
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    / = render "layouts/navigation"
    / .notice= notice
    / .alert= alert
    = yield
